$color60 : hsl(194, 30%, 75%);
$color30 : hsl(226, 85%, 39%);
$color10 : hsl(226, 84%, 15%);
$colorBlack : #16161d;
$colorLight : hsl(0, 0%, 95%);

// @media screen and (min-width: colors.$breakPointTablet){}

//$breakPointMovil : 0px;
$breakPointTablet : 576px;
$breakPointLaptop : 768px;
$breakPointDesktop : 1280px;