$color60 : hsl(194, 30%, 75%);
$color30 : hsl(226, 85%, 39%);
$color10 : hsl(226, 84%, 15%);
$colorBlack : #16161d;
$colorLight : hsl(0, 0%, 95%);

// @media screen and (min-width: colors.$breakPointTablet){}

//$breakPointMovil : 0px;
$breakPointTablet : 576px;
$breakPointLaptop : 768px;
$breakPointDesktop : 1280px;

@mixin button {
    margin: 2em auto 0;
    width: 90%;
    height: 3em;
    border: 0;
    border-bottom: 2px solid c.$colorBlack;
    border-radius: 32px;
    background-color: c.$color60;
}

@mixin button--hover {
    background-color: c.$color10;
    color: c.$colorLight;
}